
// License : Artena Dev_ => https://artenadev.com

//  █████╗ ██████╗ ████████╗███████╗███╗   ██╗ █████╗     ██████╗ ███████╗██╗   ██╗       
// ██╔══██╗██╔══██╗╚══██╔══╝██╔════╝████╗  ██║██╔══██╗    ██╔══██╗██╔════╝██║   ██║       
// ███████║██████╔╝   ██║   █████╗  ██╔██╗ ██║███████║    ██║  ██║█████╗  ██║   ██║       
// ██╔══██║██╔══██╗   ██║   ██╔══╝  ██║╚██╗██║██╔══██║    ██║  ██║██╔══╝  ╚██╗ ██╔╝       
// ██║  ██║██║  ██║   ██║   ███████╗██║ ╚████║██║  ██║    ██████╔╝███████╗ ╚████╔╝███████╗
// ╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝   ╚══════╝╚═╝  ╚═══╝╚═╝  ╚═╝    ╚═════╝ ╚══════╝  ╚═══╝ ╚══════╝
//

/* ============================== */
/* variables ==================== */
/* ============================== */

$color-black: #000000;
$color-white: #FFFFFF;
$color-orange: #EF6C21;
$color-black-artena: #070A11;
$color-grey: #6E706F;
$color-green: #156165;

$font-inter: 'Inter', sans-serif;

$transition-speed: 0.20s;
$transition-medium: 0.33s;
$transition-slow: 0.50s;

/* ============================== */
/* global ======================= */
/* ============================== */

::-webkit-scrollbar {
    width: 5px;
    background-color: $color-grey;
}
::-webkit-scrollbar-thumb {
    background: $color-orange; 
}

body {
    font-family: $font-inter;
    overflow-x: hidden;
    // background-color: $color-black-artena;
}

body.loader-active {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 70%;
    margin: 0 auto;
    position: relative;
    // overflow: hidden;
}

.clear {
    clear: both;
}

.text-thin {font-weight: 100;}
.text-light {font-weight: 300;}
.text-regular {font-weight: 400;}
.text-medium {font-weight: 500;}
.text-bold {font-weight: 700;}
.text-black {font-weight: 900;}

h1, .h1 {
    font-size: 2rem;
    line-height: 120%;
}

h2, .h2 {
    font-size: 1.75rem;
    line-height: 120%;
}

h3, .h3 {
    font-size: 1.562rem;
    line-height: 120%;
}

h4, .h4 {
    font-size: 1.375rem;
    line-height: 120%;
}

h5, .h5 {
    font-size: 1.250rem;
    line-height: 120%;
}

h6, .h6 {
    font-size: 1.125rem;
    line-height: 120%;
}

.large {
    font-size: 1rem;
    line-height: 120%;
}

.base {
    font-size: 0.875rem;
    line-height: 120%;
}

.small {
    font-size: 0.750rem;
    line-height: 120%;
}

.xsmall {
    font-size: 0.688rem;
    line-height: 120%;
}


.text-intro {
    height: 250px;
    position: relative;
    width: 50%;
    float: none;

    h1 {
        font-size: 3rem;
        line-height: 135%;
    }

    .text-desc {
        position: relative;
        top: 30px;
        
        .sep {
            position: absolute;
            width: 30%;
            height: 2px;
            background-color: $color-white;
            content: ' ';
            border-radius: 1px;
            top: 50%;
            float: left;
        }

        .large {
            position: relative;
            left: 35%;
            width: 70%;
            line-height: 150%;
        }
    }
}

.text-intro-right {
    float: right;
    &::after {
        content: ' ';
        display: block;
        clear: both;
    }
}

.button {
    margin: 30px 0;

    .button-text {
        display: inline-block;
    }

    a {
        position: relative;
        text-transform: uppercase;
    }

    img {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        path {
            transition: $transition-medium;
        }
    }

    .button-round {
        position: relative;
        background-color: $color-orange;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: inline-block;
        top: -7px;
        left: 10px;
        color: $color-white;
        border: 2px solid $color-orange;
        transition: $transition-medium;
    
        &:hover {
            background-color: rgba($color: $color-green, $alpha: 0);
        }

        &:hover svg path {
            fill: $color-orange;
        }
    }
}

.two-circle {
    height: 250px;
    position: relative;
    width: 50%;
    float: left;
    color: $color-white;

    &::after {
        content: ' ';
        display: block;
        clear: both;
    }

    .f-circle, .s-circle {
        height: 250px;
        width: 250px;
        position: absolute;
        content: ' ';
        border-radius: 50%;
        top: 0;
        transform: translateX(-50%);
    }

    .f-circle {
        background-color: $color-green;
        left: calc(50% - 125px / 2);
    }

    .s-circle {
        left: calc(50% + 125px / 2);
        border: 2px solid $color-white;

        .o-bar {
            height: 30px;
            width: 80px;
            position: relative;
            background-color: $color-orange;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: $transition-medium;
        }

        .text-animation {
            width: 246px;
            height: 246px;
            position: absolute;
            top: 0;
            left: 0;
            animation: unlispin 10s infinite;
            transition: transform 10s ease-in-out;

            @keyframes unlispin {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(360deg);
                }
            }

            .text-animation-elem {
                text-transform: uppercase;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            .text-animation-elem p {
                position: relative;
            }

            .text-animation-elem:nth-child(1) p  { transform: rotate(0deg) translateY(-100px); }
            .text-animation-elem:nth-child(2) p  { transform: rotate(45deg) translateY(-100px); }
            .text-animation-elem:nth-child(3) p  { transform: rotate(90deg) translateY(-100px); }
            .text-animation-elem:nth-child(4) p  { transform: rotate(135deg) translateY(-100px); }
            .text-animation-elem:nth-child(5) p  { transform: rotate(180deg) translateY(-100px); }
            .text-animation-elem:nth-child(6) p  { transform: rotate(225deg) translateY(-100px); }
            .text-animation-elem:nth-child(7) p  { transform: rotate(270deg) translateY(-100px); }
            .text-animation-elem:nth-child(8) p  { transform: rotate(315deg) translateY(-100px); }

        }
    }
}

.two-circle-right {
    float: right;

    .f-circle {
        left: calc(50% + 125px / 2);
    }
    .s-circle {
        left: calc(50% - 125px / 2);
    }
}

.textillatehide {
    opacity: 0;
}

#sep_anim {
    left: -10%;
    background-color: $color-black-artena;
    transition: 1000ms;
}

#sep_anim.animated {
    background-color: $color-white;
    left: 0;
    opacity: 1;
}

.two-circle-basic-animation {
    transform: scale(0.2);
    opacity: 0;
    transition: 2s;
}

.two-circle-basic-animation.animated {
    transform: scale(1);
    opacity: 1;
}

.picture-preview-show-animation {
    opacity: 0;
    transition: 2s;
}

.picture-preview-show-animation.animated {
    opacity: 1;
}


/* ============================== */
/* loader ======================= */
/* ============================== */

.loader {
    $loader-svg-w: 352px;

    transition: $transition-slow;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: $color-black-artena;
    top: 0;
    left: 0;
    border: 1px solid $color-grey;
    z-index: 100;
    
    .loader-logo {
        position: relative;
        width: $loader-svg-w;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%) scale(0.4);
        
        .top-logo {
            position: relative;
            width: 352px;
            top: -100vh;
            transition: $transition-medium;

            svg {
                transition: $transition-medium;
                position: relative;
            }

            path {
                transition: $transition-medium;
                fill: rgba($color: #000000, $alpha: 0);
                stroke: $color-orange;
                stroke-width: 1px;
            }
        }

        .top-is-animating {
            top: 0;
        }

        .top-is-animated {
            top: 0;
        }

        .top-is-animated path {
            fill: $color-orange;
            stroke-width: 0px;
        }
        
        .bottom-logo {
            top: 40px;
            position: relative;
            width: 352px;

            svg {
                transition: $transition-medium;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }

            path {
                fill: rgba($color: #000000, $alpha: 0);
                transition: $transition-medium;
            }
        }

        .bottom-logo::after {
            position: absolute;
            content: ' ';
            bottom: 2px;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 45px;
            border: 1px solid $color-orange;
            transition: $transition-medium ease-in-out;
        }

        .bot-is-animating::after {
            width: 274px;
        }

        .bot-is-animated::after {
            display: none;
        }

        .bot-is-animated path {
            fill: $color-orange;
        }
    }
}

.loader-animating {
    top: -100%;
    // border-radius: 50%;
}



/* ============================== */
/* header ======================= */
/* ============================== */

.header {
    color: $color-white;
    background-color: $color-black-artena;
    display: flex;
    position: fixed;
    height: 100px;
    border-bottom: 1px solid $color-grey;
    z-index: 50;
    width: 100%;
    transition: $transition-medium;

    .header-logo {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 15%;

        svg {
            max-height: 30px;
        }
    }

    .header-nav-top {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 80%;
    
        ul {
            display: inline-flex;
            position: relative;
        }
    
        ul li {
            position: relative;
            text-transform: uppercase;
            margin: 0 30px;
            
            &::after {
                content: ' ';
                position: absolute;
                width: 1px;
                height: 40%;
                background-color: $color-white;
                top: 50%;
                right: -30px;
                transform: translateY(-50%);
            }
        }    
    
        ul li:nth-last-child(1):after {
            display: none;
        }
    
        ul li a {
            transition: $transition-medium;
        }
    
        ul li.elem-active a {
            font-weight: 700;
            letter-spacing: 1px;
        }
    
        ul li a::after {
            content: '_';
        }
    
        ul li a::before {
            content: ' ';
            position: absolute;
            height: 1px;
            width: 0px;
            background-color: $color-white;
            transition: $transition-medium;
            left: 50%;
            bottom: -5px;
            transform: translateX(-50%);
        }

        ul li a:hover::before {
            width: 100%;
        }
    
        ul li.elem-active a:hover::before {
            width: 0;
        }
    }
    
    .header-theme {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 15%;
    
        .header-theme-wrap {
            display: inline-flex;
        }
    
        p {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            padding-right: 15px;
        }
    
        svg {
            cursor: pointer;
        }
    
        svg circle {
            transition: $transition-slow;
        }
    
        svg.light circle {
            transform: translate(-6.5px, 11px);
        }
    }
}

.header-sep {
    position: relative;
    height: 100px;
    background-color: $color-black-artena;
}

.header-minified {
    height: 70px;
}

.header-hide {
    transform: translateY(-70px);
}

/* ============================== */
/* footer ======================= */
/* ============================== */

.footer {
    background-color: $color-black-artena;
    border-top: 1px solid $color-grey;
    color: $color-white;
    padding: 100px 0;


    .footer-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-bottom: 70px;
    
        .title {
            text-transform: uppercase;
            color: $color-orange;
        }

        .grid-elem {
            padding: 10px 0;

            a {
                position: relative;
                color: $color-white;
                transition: $transition-medium;
                
                &::after {
                    position: absolute;
                    content: ' ';
                    width: 0%;
                    transition: $transition-medium;
                    height: 1px;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: $color-white;
                    bottom: -5px;
                }
                &:hover::after {
                    width: 100%;
                }
            }
        }

        .socials {
            padding: 0;
            height: 30px;
            padding-top: 5px;
            
            a::after {
                display: none;
            }
            
            img {
                height: 25px;
                width: 25px;
                margin-right: 10px;
            }
        }
    }

    .footer-bot {
        padding: 70px 0 0;
        border-top: 1px solid $color-grey;

        .footer-bot-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            
            .grid-elem:nth-child(2) {text-align: center;}
            .grid-elem:nth-child(3) {text-align: right;}
        }
    }
}

/* ============================== */
/* home ========================= */
/* ============================== */

.first-home-wrapper {
    background-color: $color-black-artena;
    position: relative;
    padding: 100px 0;
}

.first-home-wrapper .first-view {
    color: $color-white;
    height: 250px;

    

}

.picture-preview {
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 300px;

    .picture-container {
        width: 100%;
        height: 300px;
        overflow: hidden;        
    }

    .picture-preview-zoom {
        background-image: url(https://images.unsplash.com/photo-1597371440259-49731af30b1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 300px;
        z-index: -1;
        transition: $transition-slow;
    }
    
    &:hover .picture-preview-zoom {
        transform: scale(1.25) rotate(1.5deg);
    }

    & .picture-after {
        width: 75px;
        height: 75px;
        position: absolute;
        z-index: 1;

        &:nth-child(1) {
            bottom: 0;
            right: 0;
            background-color: $color-black-artena;
        }
        &:nth-child(2) {
            bottom: 75px;
            right: 75px;
            background-color: $color-green;
        }
        &:nth-child(3) {
            bottom: 0;
            left: 0;
            width: 0;
            height: 0;
            border-top: 75px solid rgba($color: #000000, $alpha: 0);
            border-left: 75px solid rgba($color-black-artena, $alpha: 1);
        }
        &:nth-child(4) {
            width: 200px;
            height: 200px;
            top: -90px;
            left: -90px;
            background-image: url(/assets/images/3d-vectory.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
}

.second-home-wrapper {
    background-color: $color-green;
    padding: 150px 0;
    color: $color-white;

    .text-medium {
        text-transform: uppercase;
    }

    .picture-preview-sec {
        width: 25%;
        height: 450px;
        position: relative;
        background-image: url(https://images.unsplash.com/photo-1543269865-cbf427effbad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
        background-size: cover;
        background-position: center left;
        float: right;
        right: 5%;
        
        &:hover .picture-preview-filtre {
            background-color: rgba($color: $color-orange, $alpha: 0);
        }

        .picture-preview-filtre {
            position: relative;
            height: 450px;
            transition: $transition-medium;
            width: 100%;
            top: 0;
            left: 0;
            background-color: rgba($color: $color-orange, $alpha: 0.15);
        }

        .picture-after:nth-child(1) {
            position: absolute;
            width: 15%;
            background-color: $color-orange;
            height: 450px;
            right: -20%;
        }

        .picture-after:nth-child(2) {
            position: absolute;
            content: ' ';
            top: 0;
            right: 0;
            width: 0;
            height: 0;
            border-bottom: 75px solid rgba($color: #000000, $alpha: 0);
            border-right: 75px solid rgba($color-green, $alpha: 1);
        }
    }

    .arrow-down {
        position: relative;
        height: 300px;
        width: 300px;
        background-image: url(/assets/images/arrow-down.png);
        background-size: contain;
        background-repeat: no-repeat;
        
    }

    .table-services {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 5%;
        margin-top: 20px;

        .table-elem {
            .sep {
                position: relative;
                width: 100%;
                height: 2px;
                background-color: $color-white;
                margin: 5px 0 20px;
            }

            
        }
    }
}

.third-home-wrapper {
    background-color: $color-black-artena;
    color: $color-white;
    padding: 150px 0;

    .text-intro h1 {
        text-transform: uppercase;
    }

    .categories {
        position: relative;
        transform: rotate(15deg);
        /* TODO */
        padding: 50px 100px;

        .categories-border {
            width: 100%;
            position: relative;
            padding: 35px 0 25px;


            &::after {
                position: absolute;
                content: ' ';
                height: 2px;
                width: 120%;
                left: 50%;
                transform: translateX(-50%);
                top: -0;
                background-color: $color-white;
            }

            &:nth-child(1)::after {
                display: none;
            }
            &:nth-child(1) .categories-elem {left: 10%;}
            &:nth-child(2) .categories-elem {left: 30%;}
            &:nth-child(3) .categories-elem {left: 50%;}
            &:nth-child(4) .categories-elem {left: 70%;}
        }

        .categories-elem {
            position: relative;
            width: 25%;

            .elem-text {
                text-transform: uppercase;
                text-align: center;
                position: relative;
            }

            .elem-number {
                color: $color-orange;
                position: relative;
                display: inline-block;
                top: -30px;
                left: 15px;
                transform: rotate(-15deg);
                
                p {
                    transition: $transition-medium;
                }
            }

            .elem-text h1 {
                font-size: 2.5rem;
                cursor: pointer;
                transition: $transition-medium;
            }

            .elem-text h1.active {
                color: $color-orange !important;
                & p {
                    color: $color-white !important;
                }
            }

            .elem-text h1:hover {
                color: $color-orange !important;
                & p {
                    color: $color-white !important;
                }
            }
        }
    }

    .categories-desc {
        position: relative;
        left: 15%;
        max-width: 35%;

        .categories-bg {
            position: absolute;
            top: -90px;
            left: -80px;
        }

        .categories-desc-number {
            height: 200px;
            float: left;
            color: $color-orange;
            padding-right: 25px;
            width: 50px;
        }

        .categories-desc-title {
            margin-bottom: 25px;
            text-transform: uppercase;
            position: relative;
            margin-left: 75px;

            h3 {
                display: inline-block;
                position: relative;
                background: linear-gradient(0deg, $color-white, $color-white) no-repeat right bottom / 0 100%;
                transition: background-size 350ms;
                display: inline-block;
                text-transform: uppercase;
            }

            &.animation h3 {
                right: 0;
                background-size: 100% 100%;
                background-position-x: left;
            }
        }

        .categories-desc-par {
            margin-left: 75px;

            p {
                line-height: 160%;
                background: linear-gradient(0deg, $color-white, $color-white) no-repeat right bottom / 0 100%;
                transition: background-size 350ms;
                display: inline-block;
            }
            
            &.animation p {
                right: 0;
                background-size: 100% 100%;
                background-position-x: left;
            }
        }

        .categories-desc-nav {
            position: relative;
            padding-top: 20px;
            margin-left: 75px;

            
            span {
                padding: 0 10px;
                cursor: pointer;
            }

            span:nth-child(1) {
                margin-right: 10px;
            }

            span svg path {
                transition: $transition-medium;
            }

            span:hover svg path {
                fill: $color-white;
            }
        }
    }

    .categories-table {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 5%;
        margin-top: 50px;

        .elem-number {
            color: $color-orange;
            border: 2px solid $color-white;
            display: inline-block;
            padding: 5px 15px;
            border-radius: 40px;

            p {
                font-size: 2.5rem;
                display: inline-block;
            }
        }

        .elem-text {
            padding-top: 25px;
        }

        .sep {
            position: relative;
            width: 100%;
            height: 2px;
            background-color: $color-white;
            top: 10px;
        }
    }
}

.fourth-home-wrapper {
    background-color: $color-green;
    padding: 150px 0;
    color: $color-white;
    position: relative;

    .text-medium {
        text-transform: uppercase;
    }

    .picture {
        position: absolute;
        top: 5%;
        left: 65%;
        transform: translate(-50%, -50%);

        .layer {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.fifth-home-wrapper {
    background-color: $color-black-artena;
    width: 100%;
    height: 100vh;
    color: $color-white;
    position: relative;

    .container {
        position: relative;
        height: 100vh;
    }

    .big-text {
        font-size: 2rem;
        text-transform: uppercase;
        position: absolute;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        
        h1 {
            letter-spacing: 1px;
        }

        .letterspacing {
            letter-spacing: 10px;
            opacity: 0;
        }
    }

    .big-text-top {
        top: 20%;
    }

    .big-text-bot {
        bottom: 20%;
    }

    .overflow {
        overflow: hidden;
        width: 100%;
        position: relative;
        height: 200px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    .slider-on-croll {
        width: 300%;
        height: 200px;
        position: absolute;
        left: 0;
        transform: translateX(-0%);
    
        .slider-elem {
            position: relative;
            width: calc(100% / 15);
            height: 70px;
            background-color: $color-black-artena;
            float: left;
            top: 50%;
            transform: translateY(-50%);

            &::after {
                position: absolute;
                width: 2px;
                height: 20px;
                background-color: $color-white;
                right: -1px;
                top: 50%;
                transform: translateY(-50%);
                content: ' ';
            }

            img {
                width: 70%;
                height: 70px;
                position: relative;
                left: 15%;
                fill: $color-green;
            }

            & .slider-elem :nth-last-child(1)::after {
                display: none;
            }
            
        }
    }

    .animated {
        transform: translateX(-66%);
    }
}

.sixth-homme-wrapper {
    height: 70vh;
    background-color: $color-green;
    overflow: hidden;
    position: relative;
    color: $color-white;

    .phone-container {
        position: relative;
        width: 50%;
        height: 70vh;
        float: left;
        // background-color: $color-white;
        
        & .phone-border-elem {
            position: absolute;
            width: 50px;
            height: 50px;
            top: 50%;
            left: 40%;
            transform: translate(-50%, -50%);
            border: 1px dashed $color-white;
            border-radius: 50%;
        }

        & .phone-border-elem:nth-child(1) {
            height: 450px;
            width: 450px;
        }
        & .phone-border-elem:nth-child(2) {
            height: 600px;
            width: 600px;
        }
        & .phone-border-elem:nth-child(3) {
            height: 750px;
            width: 750px;
        }
        
        .phone-bg {
            position: absolute;
            top: 50%;
            left: 40%;
            transform: translate(-50%, -50%);
            background-color: $color-orange;
            width: 300px;
            height: 300px;
            border-radius: 50%;

            .phone-bg-img {
                position: absolute;
                top: 50%;
                left: 30%;
                transform: translate(-50%, -50%);
            
                img {
                    width: 400px;
                    height: 400px;
                }
            }
            .animated {
                top: 1500%;
            }
        }
    }

    .container {
        height: 70vh;
    }
    
    .text-intro {
        color: $color-white;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        h1 {
            text-transform: uppercase;
        }
    }
}

.seventh-home-wrapper {
    padding: 150px 0;
    color: $color-white;
    background-color: $color-black-artena;


    .o-bar {
        cursor: pointer;
        z-index: 2;
        transition: $transition-medium;
        
        &:hover {
            height: 70px;
            width: 135px;
        }

        &:hover img {
            transform: translate(-50%, -50%) rotate(360deg);
        }

        img {
            transition: $transition-slow;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .left-sec {
        float: left;
    }
    .big-text {
        text-transform: uppercase;
        position: relative;
        
        h1 {
            line-height: 140%;
        }
    }
    .image-arrow {
        padding-top: 50px;
        padding-left: 50px;
    }
}

.portfolio {
    background: $color-black;
    // background: linear-gradient(180deg, $color-black-artena 0%, $color-green 25%, $color-black-artena 50%, $color-green 75%, $color-black-artena 100%);
    background-color: $color-black-artena;

    & .list-projects .project-elem:nth-child(1) {
        padding-top: 200px;
    }

    & .list-projects .project-elem:nth-last-child(1) {
        padding-bottom: 200px;
    }

    .project-elem {
        padding: 50px 0;
        position: relative;

        &:nth-child(1) .portfolio-picture-to-anim {background-image: url(/assets/images/sites/artgrandest.png);}
        &:nth-child(2) .portfolio-picture-to-anim {background-image: url(/assets/images/sites/trevidic.png);}
        &:nth-child(3) .portfolio-picture-to-anim {background-image: url(/assets/images/sites/bildconstruct.png);}
        &:nth-child(4) .portfolio-picture-to-anim {background-image: url(/assets/images/sites/leseclaireurs.png);}
        &:nth-child(5) .portfolio-picture-to-anim {background-image: url(/assets/images/sites/kamilbiczyk.png);}
    }

    .list-projects#second .project-elem {
        &:nth-child(1) .portfolio-picture-to-anim {background-image: url(/assets/images/sites/artena.png);}
        &:nth-child(2) .portfolio-picture-to-anim {background-image: url(/assets/images/sites/artena.png);}
        &:nth-child(3) .portfolio-picture-to-anim {background-image: url(/assets/images/sites/artena.png);}
    }

    .project-elem-wrapper {
        color: $color-white;
        text-align: center;
        position: relative;
        
        .on-hover {
            height: 250px;
            position: relative;

            &:hover .project-desc {
                 opacity: 1;
            }
        }

        .project-text {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        .project-title {
            position: relative;

            h1 {
                background: linear-gradient(0deg, $color-orange, $color-orange) no-repeat right bottom / 0 50%;
                transition: background-size 350ms;
                display: inline-block;
                text-transform: uppercase;
                letter-spacing: 4px;
                font-size: 3rem;
            }
            h1:where(:hover, :focus-visible) {
                background-size: 100% 50%;
                background-position-x: left;
            }
        }

        .project-desc {
            position: relative;
            opacity: 0;
            transition: $transition-medium;

            p {
                background: linear-gradient(0deg, $color-orange, $color-orange) no-repeat right bottom / 0 50%;
                transition: background-size 350ms;
                display: inline-block;
                text-transform: uppercase;
            }
            p:where(:hover, :focus-visible) {
                background-size: 100% 50%;
                background-position-x: left;
            }
        }

        .portfolio-picture-to-anim {
            position: absolute;
            width: 500px;
            background-color: $color-white;
            height: 0;
            top: 50%;
            left: 50%;
            transition: 1s;
            transform: translate(-50%, -50%);
            background-size: cover;
            background-position: center center;

            &.anim {
                height: 500px;
            }

            .picture-filtre {
                background-color: rgba($color: $color-black, $alpha: 0.7);
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }
    }

    .title {
        text-align: center;
        text-transform: uppercase;
        color: $color-white;
        padding: 150px 0 0px;

        h1 {
            position: relative;
            display: inline-block;

            &::after, &::before {
                position: absolute;
                content: ' ';
                width: 30%;
                height: 2px;
                border-radius: 1px;
                top: 50%;
                transform: translateY(-50%);
                background-color: $color-white;
                transition: 5s;
            }

            &::after {
                opacity: 0;
                left: calc(-20px + -60%);
            }

            &::before {
                opacity: 0;
                right: calc(-20px + -60%);
            }
        }

        &.anim {
            h1 {
                &::after {
                    opacity: 1;
                    left: calc(-20px + -30%);
                }
                &::before {
                    opacity: 1;
                    right: calc(-20px + -30%);
                }
            }
        }
    }
}