/* ============================== */
/* variables ==================== */
/* ============================== */
/* ============================== */
/* global ======================= */
/* ============================== */
::-webkit-scrollbar {
  width: 5px;
  background-color: #6E706F;
}

::-webkit-scrollbar-thumb {
  background: #EF6C21;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

body.loader-active {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 70%;
  margin: 0 auto;
  position: relative;
}

.clear {
  clear: both;
}

.text-thin {
  font-weight: 100;
}

.text-light {
  font-weight: 300;
}

.text-regular {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}

.text-black {
  font-weight: 900;
}

h1, .h1 {
  font-size: 2rem;
  line-height: 120%;
}

h2, .h2 {
  font-size: 1.75rem;
  line-height: 120%;
}

h3, .h3 {
  font-size: 1.562rem;
  line-height: 120%;
}

h4, .h4 {
  font-size: 1.375rem;
  line-height: 120%;
}

h5, .h5 {
  font-size: 1.25rem;
  line-height: 120%;
}

h6, .h6 {
  font-size: 1.125rem;
  line-height: 120%;
}

.large {
  font-size: 1rem;
  line-height: 120%;
}

.base {
  font-size: 0.875rem;
  line-height: 120%;
}

.small {
  font-size: 0.75rem;
  line-height: 120%;
}

.xsmall {
  font-size: 0.688rem;
  line-height: 120%;
}

.text-intro {
  height: 250px;
  position: relative;
  width: 50%;
  float: none;
}
.text-intro h1 {
  font-size: 3rem;
  line-height: 135%;
}
.text-intro .text-desc {
  position: relative;
  top: 30px;
}
.text-intro .text-desc .sep {
  position: absolute;
  width: 30%;
  height: 2px;
  background-color: #FFFFFF;
  content: " ";
  border-radius: 1px;
  top: 50%;
  float: left;
}
.text-intro .text-desc .large {
  position: relative;
  left: 35%;
  width: 70%;
  line-height: 150%;
}

.text-intro-right {
  float: right;
}
.text-intro-right::after {
  content: " ";
  display: block;
  clear: both;
}

.button {
  margin: 30px 0;
}
.button .button-text {
  display: inline-block;
}
.button a {
  position: relative;
  text-transform: uppercase;
}
.button svg {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button svg path {
  transition: 0.33s;
}
.button .button-round {
  position: relative;
  background-color: #EF6C21;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  top: -7px;
  left: 10px;
  color: #FFFFFF;
  border: 2px solid #EF6C21;
  transition: 0.33s;
}
.button .button-round:hover {
  background-color: rgba(21, 97, 101, 0);
}
.button .button-round:hover svg path {
  fill: #EF6C21;
}

.two-circle {
  height: 250px;
  position: relative;
  width: 50%;
  float: left;
  color: #FFFFFF;
}
.two-circle::after {
  content: " ";
  display: block;
  clear: both;
}
.two-circle .f-circle, .two-circle .s-circle {
  height: 250px;
  width: 250px;
  position: absolute;
  content: " ";
  border-radius: 50%;
  top: 0;
  transform: translateX(-50%);
}
.two-circle .f-circle {
  background-color: #156165;
  left: calc(50% - 62.5px);
}
.two-circle .s-circle {
  left: calc(50% + 62.5px);
  border: 2px solid #FFFFFF;
}
.two-circle .s-circle .o-bar {
  height: 30px;
  width: 80px;
  position: relative;
  background-color: #EF6C21;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.33s;
}
.two-circle .s-circle .text-animation {
  width: 246px;
  height: 246px;
  position: absolute;
  top: 0;
  left: 0;
  animation: unlispin 10s infinite;
  transition: transform 10s ease-in-out;
}
@keyframes unlispin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.two-circle .s-circle .text-animation .text-animation-elem {
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.two-circle .s-circle .text-animation .text-animation-elem p {
  position: relative;
}
.two-circle .s-circle .text-animation .text-animation-elem:nth-child(1) p {
  transform: rotate(0deg) translateY(-100px);
}
.two-circle .s-circle .text-animation .text-animation-elem:nth-child(2) p {
  transform: rotate(45deg) translateY(-100px);
}
.two-circle .s-circle .text-animation .text-animation-elem:nth-child(3) p {
  transform: rotate(90deg) translateY(-100px);
}
.two-circle .s-circle .text-animation .text-animation-elem:nth-child(4) p {
  transform: rotate(135deg) translateY(-100px);
}
.two-circle .s-circle .text-animation .text-animation-elem:nth-child(5) p {
  transform: rotate(180deg) translateY(-100px);
}
.two-circle .s-circle .text-animation .text-animation-elem:nth-child(6) p {
  transform: rotate(225deg) translateY(-100px);
}
.two-circle .s-circle .text-animation .text-animation-elem:nth-child(7) p {
  transform: rotate(270deg) translateY(-100px);
}
.two-circle .s-circle .text-animation .text-animation-elem:nth-child(8) p {
  transform: rotate(315deg) translateY(-100px);
}

.two-circle-right {
  float: right;
}
.two-circle-right .f-circle {
  left: calc(50% + 62.5px);
}
.two-circle-right .s-circle {
  left: calc(50% - 62.5px);
}

.textillatehide {
  opacity: 0;
}

#sep_anim {
  left: -10%;
  background-color: #070A11;
  transition: 1000ms;
}

#sep_anim.animated {
  background-color: #FFFFFF;
  left: 0;
  opacity: 1;
}

.two-circle-basic-animation {
  transform: scale(0.2);
  opacity: 0;
  transition: 2s;
}

.two-circle-basic-animation.animated {
  transform: scale(1);
  opacity: 1;
}

.picture-preview-show-animation {
  opacity: 0;
  transition: 2s;
}

.picture-preview-show-animation.animated {
  opacity: 1;
}

/* ============================== */
/* loader ======================= */
/* ============================== */
.loader {
  transition: 0.5s;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #070A11;
  top: 0;
  left: 0;
  border: 1px solid #6E706F;
  z-index: 100;
}
.loader .loader-logo {
  position: relative;
  width: 352px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.4);
}
.loader .loader-logo .top-logo {
  position: relative;
  width: 352px;
  top: -100vh;
  transition: 0.33s;
}
.loader .loader-logo .top-logo svg {
  transition: 0.33s;
  position: relative;
}
.loader .loader-logo .top-logo path {
  transition: 0.33s;
  fill: rgba(0, 0, 0, 0);
  stroke: #EF6C21;
  stroke-width: 1px;
}
.loader .loader-logo .top-is-animating {
  top: 0;
}
.loader .loader-logo .top-is-animated {
  top: 0;
}
.loader .loader-logo .top-is-animated path {
  fill: #EF6C21;
  stroke-width: 0px;
}
.loader .loader-logo .bottom-logo {
  top: 40px;
  position: relative;
  width: 352px;
}
.loader .loader-logo .bottom-logo svg {
  transition: 0.33s;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.loader .loader-logo .bottom-logo path {
  fill: rgba(0, 0, 0, 0);
  transition: 0.33s;
}
.loader .loader-logo .bottom-logo::after {
  position: absolute;
  content: " ";
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 45px;
  border: 1px solid #EF6C21;
  transition: 0.33s ease-in-out;
}
.loader .loader-logo .bot-is-animating::after {
  width: 274px;
}
.loader .loader-logo .bot-is-animated::after {
  display: none;
}
.loader .loader-logo .bot-is-animated path {
  fill: #EF6C21;
}

.loader-animating {
  top: -100%;
}

/* ============================== */
/* header ======================= */
/* ============================== */
.header {
  color: #FFFFFF;
  background-color: #070A11;
  display: flex;
  position: fixed;
  height: 100px;
  border-bottom: 1px solid #6E706F;
  z-index: 50;
  width: 100%;
  transition: 0.33s;
}
.header .header-logo {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 15%;
}
.header .header-logo svg {
  max-height: 30px;
}
.header .header-nav-top {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.header .header-nav-top ul {
  display: inline-flex;
  position: relative;
}
.header .header-nav-top ul li {
  position: relative;
  text-transform: uppercase;
  margin: 0 30px;
}
.header .header-nav-top ul li::after {
  content: " ";
  position: absolute;
  width: 1px;
  height: 40%;
  background-color: #FFFFFF;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
}
.header .header-nav-top ul li:nth-last-child(1):after {
  display: none;
}
.header .header-nav-top ul li a {
  transition: 0.33s;
}
.header .header-nav-top ul li.elem-active a {
  font-weight: 700;
  letter-spacing: 1px;
}
.header .header-nav-top ul li a::after {
  content: "_";
}
.header .header-nav-top ul li a::before {
  content: " ";
  position: absolute;
  height: 2px;
  width: 0px;
  background-color: #FFFFFF;
  transition: 0.33s;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.header .header-nav-top ul li a:hover::before {
  width: 100%;
}
.header .header-nav-top ul li.elem-active a:hover::before {
  width: 0;
}
.header .header-theme {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 15%;
}
.header .header-theme .header-theme-wrap {
  display: inline-flex;
}
.header .header-theme p {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding-right: 15px;
}
.header .header-theme svg {
  cursor: pointer;
}
.header .header-theme svg circle {
  transition: 0.5s;
}
.header .header-theme svg.light circle {
  transform: translate(-6.5px, 11px);
}

.header-sep {
  position: relative;
  height: 100px;
  background-color: #070A11;
}

.header-minified {
  height: 70px;
}

.header-hide {
  transform: translateY(-70px);
}

/* ============================== */
/* footer ======================= */
/* ============================== */
.footer {
  background-color: #070A11;
  border-top: 1px solid #6E706F;
  color: #FFFFFF;
  margin-bottom: 150px;
  padding: 70px 0;
}
.footer .footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer .footer-grid .title {
  text-transform: uppercase;
  color: #EF6C21;
}
.footer .footer-grid .grid-elem {
  padding: 10px 0;
}
.footer .footer-grid .socials {
  padding: 0;
  height: 30px;
  padding-top: 5px;
}
.footer .footer-grid .socials img {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

/* ============================== */
/* home ========================= */
/* ============================== */
.first-home-wrapper {
  background-color: #070A11;
  position: relative;
  padding: 100px 0;
}

.first-home-wrapper .first-view {
  color: #FFFFFF;
  height: 250px;
}

.picture-preview {
  position: relative;
  margin-top: 100px;
  width: 100%;
  height: 300px;
}
.picture-preview .picture-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.picture-preview .picture-preview-zoom {
  background-image: url(https://images.unsplash.com/photo-1597371440259-49731af30b1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 300px;
  z-index: -1;
  transition: 0.5s;
}
.picture-preview:hover .picture-preview-zoom {
  transform: scale(1.25) rotate(1.5deg);
}
.picture-preview .picture-after {
  width: 75px;
  height: 75px;
  position: absolute;
  z-index: 1;
}
.picture-preview .picture-after:nth-child(1) {
  bottom: 0;
  right: 0;
  background-color: #070A11;
}
.picture-preview .picture-after:nth-child(2) {
  bottom: 75px;
  right: 75px;
  background-color: #156165;
}
.picture-preview .picture-after:nth-child(3) {
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 75px solid rgba(0, 0, 0, 0);
  border-left: 75px solid #070a11;
}
.picture-preview .picture-after:nth-child(4) {
  width: 200px;
  height: 200px;
  top: -90px;
  left: -90px;
  background-image: url(/assets/images/3d-vectory.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.second-home-wrapper {
  background-color: #156165;
  padding: 150px 0;
  color: #FFFFFF;
}
.second-home-wrapper .text-medium {
  text-transform: uppercase;
}
.second-home-wrapper .picture-preview-sec {
  width: 25%;
  height: 450px;
  position: relative;
  background-image: url(https://images.unsplash.com/photo-1543269865-cbf427effbad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  background-position: center left;
  float: right;
  right: 5%;
}
.second-home-wrapper .picture-preview-sec:hover .picture-preview-filtre {
  background-color: rgba(239, 108, 33, 0);
}
.second-home-wrapper .picture-preview-sec .picture-preview-filtre {
  position: relative;
  height: 450px;
  transition: 0.33s;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(239, 108, 33, 0.15);
}
.second-home-wrapper .picture-preview-sec .picture-after:nth-child(1) {
  position: absolute;
  width: 15%;
  background-color: #EF6C21;
  height: 450px;
  right: -20%;
}
.second-home-wrapper .picture-preview-sec .picture-after:nth-child(2) {
  position: absolute;
  content: " ";
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 75px solid rgba(0, 0, 0, 0);
  border-right: 75px solid #156165;
}
.second-home-wrapper .arrow-down {
  position: relative;
  height: 300px;
  width: 300px;
  background-image: url(/assets/images/arrow-down.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.second-home-wrapper .table-services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5%;
  margin-top: 20px;
}
.second-home-wrapper .table-services .table-elem .sep {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  margin: 5px 0 20px;
}

.third-home-wrapper {
  background-color: #070A11;
  color: #FFFFFF;
  padding: 150px 0;
}
.third-home-wrapper .text-intro h1 {
  text-transform: uppercase;
}
.third-home-wrapper .categories {
  position: relative;
  transform: rotate(15deg);
  /* TODO */
  padding: 50px 100px;
}
.third-home-wrapper .categories .categories-border {
  width: 100%;
  position: relative;
  padding: 35px 0 25px;
}
.third-home-wrapper .categories .categories-border::after {
  position: absolute;
  content: " ";
  height: 2px;
  width: 120%;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  background-color: #FFFFFF;
}
.third-home-wrapper .categories .categories-border:nth-child(1)::after {
  display: none;
}
.third-home-wrapper .categories .categories-border:nth-child(1) .categories-elem {
  left: 10%;
}
.third-home-wrapper .categories .categories-border:nth-child(2) .categories-elem {
  left: 30%;
}
.third-home-wrapper .categories .categories-border:nth-child(3) .categories-elem {
  left: 50%;
}
.third-home-wrapper .categories .categories-border:nth-child(4) .categories-elem {
  left: 70%;
}
.third-home-wrapper .categories .categories-elem {
  position: relative;
  width: 25%;
}
.third-home-wrapper .categories .categories-elem .elem-text {
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.third-home-wrapper .categories .categories-elem .elem-number {
  color: #EF6C21;
  position: relative;
  display: inline-block;
  top: -30px;
  left: 15px;
  transform: rotate(-15deg);
}
.third-home-wrapper .categories .categories-elem .elem-text h1 {
  font-size: 2.5rem;
  cursor: pointer;
  transition: 0.33s;
}
.third-home-wrapper .categories .categories-elem .elem-text h1.active {
  color: #EF6C21 !important;
}
.third-home-wrapper .categories .categories-elem .elem-text h1.active p {
  color: #FFFFFF !important;
}
.third-home-wrapper .categories-desc {
  position: relative;
  left: 15%;
  max-width: 35%;
}
.third-home-wrapper .categories-desc .categories-bg {
  position: absolute;
  top: -90px;
  left: -80px;
}
.third-home-wrapper .categories-desc .categories-desc-number {
  height: 200px;
  float: left;
  color: #EF6C21;
  padding-right: 25px;
}
.third-home-wrapper .categories-desc .categories-desc-title {
  padding-bottom: 25px;
  text-transform: uppercase;
}
.third-home-wrapper .categories-desc .categories-desc-par p {
  line-height: 160%;
}
.third-home-wrapper .categories-desc .categories-desc-nav {
  position: relative;
  padding-top: 20px;
}
.third-home-wrapper .categories-desc .categories-desc-nav span {
  padding: 0 10px;
  transition: 0.33s;
  cursor: pointer;
}
.third-home-wrapper .categories-desc .categories-desc-nav span:nth-child(1) {
  margin-right: 10px;
}
.third-home-wrapper .categories-desc .categories-desc-nav span:hover svg path {
  fill: #FFFFFF;
}
.third-home-wrapper .categories-table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5%;
  margin-top: 50px;
}
.third-home-wrapper .categories-table .elem-number {
  color: #EF6C21;
  border: 2px solid #FFFFFF;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 40px;
}
.third-home-wrapper .categories-table .elem-number p {
  font-size: 2.5rem;
  display: inline-block;
}
.third-home-wrapper .categories-table .elem-text {
  padding-top: 25px;
}
.third-home-wrapper .categories-table .sep {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  top: 10px;
}

.fourth-home-wrapper {
  background-color: #156165;
  padding: 150px 0;
  color: #FFFFFF;
  position: relative;
}
.fourth-home-wrapper .text-medium {
  text-transform: uppercase;
}
.fourth-home-wrapper .picture {
  position: absolute;
  top: 5%;
  left: 65%;
  transform: translate(-50%, -50%);
}
.fourth-home-wrapper .picture .layer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.fifth-home-wrapper {
  background-color: #070A11;
  width: 100%;
  height: 100vh;
  color: #FFFFFF;
  position: relative;
}
.fifth-home-wrapper .container {
  position: relative;
  height: 100vh;
}
.fifth-home-wrapper .big-text {
  font-size: 2rem;
  text-transform: uppercase;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
.fifth-home-wrapper .big-text h1 {
  letter-spacing: 1px;
}
.fifth-home-wrapper .big-text .letterspacing {
  letter-spacing: 10px;
  opacity: 0;
}
.fifth-home-wrapper .big-text-top {
  top: 20%;
}
.fifth-home-wrapper .big-text-bot {
  bottom: 20%;
}
.fifth-home-wrapper .overflow {
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 200px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.fifth-home-wrapper .slider-on-croll {
  width: 300%;
  height: 200px;
  position: absolute;
  left: 0;
  transform: translateX(0%);
}
.fifth-home-wrapper .slider-on-croll .slider-elem {
  position: relative;
  width: 6.6666666667%;
  height: 70px;
  background-color: #070A11;
  float: left;
  top: 50%;
  transform: translateY(-50%);
}
.fifth-home-wrapper .slider-on-croll .slider-elem::after {
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: #FFFFFF;
  right: -1px;
  top: 50%;
  transform: translateY(-50%);
  content: " ";
}
.fifth-home-wrapper .slider-on-croll .slider-elem img {
  width: 70%;
  height: 70px;
  position: relative;
  left: 15%;
  fill: #156165;
}
.fifth-home-wrapper .slider-on-croll .slider-elem .slider-elem :nth-last-child(1)::after {
  display: none;
}
.fifth-home-wrapper .animated {
  transform: translateX(-66%);
}

.sixth-homme-wrapper {
  height: 70vh;
  background-color: #156165;
  overflow: hidden;
  position: relative;
  color: #FFFFFF;
}
.sixth-homme-wrapper .phone-container {
  position: relative;
  width: 50%;
  height: 70vh;
  float: left;
}
.sixth-homme-wrapper .phone-container .phone-border-elem {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  border: 1px dashed #FFFFFF;
  border-radius: 50%;
}
.sixth-homme-wrapper .phone-container .phone-border-elem:nth-child(1) {
  height: 450px;
  width: 450px;
}
.sixth-homme-wrapper .phone-container .phone-border-elem:nth-child(2) {
  height: 600px;
  width: 600px;
}
.sixth-homme-wrapper .phone-container .phone-border-elem:nth-child(3) {
  height: 750px;
  width: 750px;
}
.sixth-homme-wrapper .phone-container .phone-bg {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  background-color: #EF6C21;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.sixth-homme-wrapper .phone-container .phone-bg .phone-bg-img {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.sixth-homme-wrapper .phone-container .phone-bg .phone-bg-img img {
  width: 400px;
  height: 400px;
}
.sixth-homme-wrapper .phone-container .phone-bg .animated {
  top: 1500%;
}
.sixth-homme-wrapper .container {
  height: 70vh;
}
.sixth-homme-wrapper .text-intro {
  color: #FFFFFF;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.seventh-home-wrapper {
  padding: 150px 0;
  color: #FFFFFF;
  background-color: #070A11;
}
.seventh-home-wrapper .o-bar {
  cursor: pointer;
  z-index: 2;
}
.seventh-home-wrapper .o-bar svg {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.seventh-home-wrapper .left-sec {
  float: left;
}
.seventh-home-wrapper .big-text {
  text-transform: uppercase;
  position: relative;
}
.seventh-home-wrapper .big-text h1 {
  line-height: 140%;
}
.seventh-home-wrapper .image-arrow {
  padding-top: 50px;
  padding-left: 50px;
}

/*# sourceMappingURL=style.css.map */
